echo google-api-python-client > requirements.txt
echo google-auth >> requirements.txt
echo google-auth-oauthlib >> requirements.txt
echo google-auth-httplib2 >> requirements.txt
echo google-cloud-storage >> requirements.txt